<ion-view ng-controller="inicioCtrl">
  <ion-header-bar align-title="center" class="bar-calm">
    <div class="buttons">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </div>
    <h1 class="title">Tu fila</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header has-tabs">
    <div ng-if="sistema.initialRender">
      <div ng-if="online">
        <div ng-if="sistema.cajas.length > 0" class="cardRight card">
          <div class="item item-divider item-positive">
            Estado del sistema
          </div>
          <div class="item item-text-wrap">
            <i class="icon ion-android-cart"></i>
            El sistema se encuentra habilitado. Las cajas <span ng-repeat="caja in sistema.cajas track by $index"><span ng-show="$last">y </span><span>{{caja.numero}}</span><span ng-show="!$last">, </span></span> están atendiendo
          </div>
        </div>
        <div ng-if="sistema.cajas.length == 0 && cliente.enComercio" class="cardRight card">
          <div class="item item-divider item-assertive">
            Estado del sistema
          </div>
          <div class="item item-text-wrap assertive">
            <i class="icon ion-android-sad"></i>
            Lo sentimos, en este momento no hay cajas habilitadas.
          </div>
        </div>
        <div ng-if="sistema.cajas.length > 0 && !cliente.estaEnFilaGeneral() && !cliente.estaEnCaja()" class="cardLeft card">
          <div class="item item-divider item-balanced">
            Fila
          </div>
          <div class="item item-text-wrap">
            <i class="icon ion-android-person"></i>
            Actualmente <span ng-show="sistema.colaGeneral.length == 0">no </span>hay <span ng-show="sistema.colaGeneral.length > 0">{{sistema.colaGeneral.length}} </span>clientes haciendo la fila.
          </div>
        </div>
        <div ng-if="cliente.estaEnFilaGeneral()" class="cardLeft card">
          <div class="item item-divider item-balanced">
            En la fila
          </div>
          <div class="item item-text-wrap">
            <p ng-bind-html="estadoFila"></p>
          </div>
        </div>
        <div ng-if="cliente.estaEnCaja()" class="cardSurprise card">
          <div class="item item-divider item-balanced">
            Es tu turno
          </div>
          <div class="item item-text-wrap">
            <p ng-bind-html="estadoFila"></p>
          </div>
        </div>
      </div>
      <div ng-if="!online">
        <div class="cardRight card">
          <div class="item item-divider item-assertive">
            Estado del sistema
          </div>
          <div class="item item-text-wrap">
            <i class="icon ion-alert"></i>
            Vuelve a conectarte para actualizar el estado del sistema.
          </div>
        </div>
        <div ng-if="cliente.estaEnFilaGeneral()" class="cardLeft card">
          <div class="item item-divider item-assertive">
            Sin conexión
          </div>
          <div class="item item-text-wrap">
            <i class="icon ion-alert"></i>
            Has perdido la conexión con el servidor, vamos a guardar tu posición en la fila, pero deberás reconectarte para que puedas ser llamado.
          </div>
        </div>
      </div>
      <div ng-if="!cliente.estaEnComercio() && !errorGPS" class="cardRight card">
        <div class="item item-divider item-assertive">
          Sin sistema
        </div>
        <div class="item item-text-wrap">
          <i class="icon ion-alert"></i>
          Acércate hasta alguno de los comercios habilitados para comenzar a usar el sistema. Puedes ver los comercios habilitados haciendo click aquí.
        </div>
      </div>
      <div ng-if="errorGPS" class="cardLeft card">
        <div class="item item-divider item-assertive">
          Error de GPS
        </div>
        <div class="item item-text-wrap">
          <i class="icon ion-alert"></i>
          No hemos podido determinar tu ubicación. Activa tu GPS para saber que te encuentras en un comercio habilitado.
        </div>
      </div>
      <div class="back-cola">
        <i ng-repeat="person in sistema.colaGeneral.slice().reverse()" ng-class="cliente.getId() == person.id ? 'assertive' : 'dark'" class="cliente-cola icon ion-android-person"></i>
      </div>
      <div ng-if="online">
        <a href="#" ng-show="!cliente.estaEnFilaGeneral() && !cliente.estaEnCaja()" ng-click="hacerFila()" ng-disabled="sistema.cajas.length == 0" class="zoomButton button button-calm button-block  icon-left ion-android-cart">Hacer la fila!</a>
        <a href="#" ng-show="cliente.estaEnFilaGeneral() || cliente.estaEnCaja()" ng-click="retrasarme()" class="zoomButton button button-energized button-block  icon-left ion-android-contacts">Retrasarme</a>
        <a href="#" ng-show="cliente.estaEnFilaGeneral() || cliente.estaEnCaja()" ng-click="irme()" class="zoomButton button button-assertive button-block  icon-left ion-android-cancel">Irme</a>
      </div>
    </div>
  </ion-content>
</ion-view>
