<ion-view title="Principal" ng-controller="principalCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Proyecto Fila</h1>
        <div>
            <p>Usted tiene el número:
                <strong>100</strong>
            </p>

            <p>Tiene
                <strong>4</strong> personas delante suyo.</p>

            <p>Tiempo aproximado de espera:
                <strong>16 minutos</strong>
            </p>
        </div>
        <button class="button button-energized button-block  icon-left ion-android-contacts">Retrasarme</button>
        <a href="#/page1" class="button button-assertive button-block  icon-left ion-android-cancel">Irme</a>
    </ion-content>
</ion-view>
